@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ot5voe');
  src:  url('fonts/icomoon.eot?ot5voe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ot5voe') format('truetype'),
    url('fonts/icomoon.woff?ot5voe') format('woff'),
    url('fonts/icomoon.svg?ot5voe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
  content: "\e5ca";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-unfold_more:before {
  content: "\e5d7";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-trophy:before {
  content: "\e99e";
}
