.app {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 8rem;
}


/* Header */

h2 {
    /* Used when hiding pic */
    display: none;
    margin-top: .5rem;
}

h2 img {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

.beta {
    display: inline-block;
    padding: .1rem .3rem;
    margin-left: .5rem;
    font-size: .8rem;
    color: #fff;
    background-color: #e029e8;
    vertical-align: top;
}

.icon-admin {
    position: absolute;
    top: 2rem;
    right: 1rem;
    padding: .4rem .5rem .6rem;
    border: 1px solid #ccc;
    border-radius: 100%;
    font-size: 1.6rem;
    color: #333;
}

.icon-admin.selected {
    color: #27d3ff;
    border-color: #27d3ff;
}


/* Menu */

.menu {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.menu a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ccc;
    text-decoration: none;
    text-align: center;
}

.menu a.selected {
    color: #27d3ff;
}

.menu .icon {
    margin-bottom: .7rem;
    font-size: 2.8rem;
}

.menu .icon-info, .menu .icon-leader-board {
    margin-bottom: 0;
    font-size: 3.5rem;
}

/* Results */

.race-meet h3 {
    color: #444;
}

.race-meet-selector {
    position: relative;
    margin-top: 2rem;
}

.race-meet-selector select {
    width: 100%;
    padding: .8rem;
    border: 1px solid #aaa;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.race-meet-selector select::-ms-expand {
    display: none;
}

.race-meet-selector select:disabled::-ms-expand {
    background: #aaa;
}

.race-meet-selector span {
    position: absolute;
    top: 50%;
    right: .5rem;
    width: 2.2rem;
    height: 2.2rem;
    margin-top: -1.1rem;
    font-size: 2.2rem;
}

.race-selector {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.race-selector .circle {
    position: relative;
    display: flex;
    width: 2.8rem;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    margin-right: .2rem;
    border-radius: 100%;
    opacity: .8;
    color: #fff;
    cursor: pointer;
}

.race-selector .circle:last-child {
    margin-right: 0;
}

.race-selector .circle.selected::after {
    position: absolute;
    display: block;
    content: " ";
    /* Small: .6rem */
    left: calc(50% - 1rem);
    /* Small: -1rem */
    bottom: -1.6rem;
    width: 0;
    height: 0;
    /* Small: .6rem */
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid;
    border-bottom: 1rem solid transparent;
}

.race-selector .circle.selected.bg-green::after {
    border-top-color: green;
}

.race-selector .circle.selected.bg-orange::after {
    border-top-color: orange;
}

.race-selector .circle.selected.bg-red::after {
    border-top-color: red;
}

.race-selector .circle.selected.bg-blue::after {
    border-top-color: #458fff;
}

.race {
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-areas: "details      placings"
                         "tips-heading tips-heading"
                         "tips         tips";
    grid-gap: 2rem;
}

.race .details {
    grid-area: details;
}

.race .details .name {
    text-transform: uppercase;
}

.race .placing {
    grid-area: placings;
    display: inline-block;
    width: 5rem;
}

.placing.gold:before, .placing.silver:before, .placing.bronze:before {
    display: inline-block;
    content: " ";
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border-radius: 100%;
}

.placing.gold:before {
    background-color: #eacb3c;
}

.placing.silver:before {
    background-color: #e6e8fa;
}

.placing.bronze:before {
    background-color: #8c7853;
}

.tips-heading {
    grid-area: "tips-heading";
}

.tips {
    display: grid;
    grid-area: tips;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.tip {
    padding: .6rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tip .pic {
    /* Used when hiding pic */
    display: none;
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
    border-radius: 100%;
    vertical-align: -1rem;
}

.tip .name {
    display: inline-block;
    width: 9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.tip .name::after {
    display: block;
    content: " ";
}

.tip .numbers {
    display: inline-block;
    width: 60%;
    margin-top: .5rem;
}

.tip .numbers .group {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.tip .numbers .group:last-child {
    margin-bottom: 0;
}

.tip .numbers .label {
    display: inline-block;
    width: 3.6rem;
    font-weight: bold;
}

.tip .correct {
    color: #27D3FF;
}

.tip .correct::after {
    display: inline-block;
    content: "\e5ca";
    margin-left: .2rem;
    font-family: 'icomoon';
}

.score {
    display: inline-block;
    width: 4rem;
    margin-top: .5rem;
    vertical-align: top;
    text-align: center;
}


/* Leaderboard */

.lb-heading {
    margin-top: 3rem;
    text-align: center;
}

.lb-heading.teal {
    color: #27d3ff;
}

.podium {
    display: flex;
    justify-content: center;
    height: 28.5rem;
    margin-top: 2rem;
    text-align: center;
}

.podium .first, .podium .second, .podium .third {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 33.3333%;
    max-width: 12rem;
}

.podium .pic {
    /* display: block; */
    /* Used when hiding pic */
    display: none;
    width: 8rem;
    margin-bottom: .5rem;
    border-radius: 100%;
}

.podium .name {
    width: 90%;
    margin-bottom: .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.podium .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #ddd;
}

.podium .first .bar {
    height: 18rem;
}

.podium .second .bar {
    height: 13rem;
}

.podium .third .bar {
    height: 8rem;
}

.podium .icon-trophy {
    /* Used when hiding pic */
    display: none;
    font-size: 6rem;
    margin-bottom: 4rem;
    color: #eacb3c;
}

.podium .bar .number {
    margin-bottom: .5rem;
    font-size: 2rem;
    color: #444;
}

.podium .bar sup {
    font-size: 1.2rem;
    vertical-align: .6rem;
}

.podium .bar .points {
    margin-bottom: 1.8rem;
}

.loser {
    width: 27rem;
    margin: 0 auto 1rem;
}

.loser .number {
    display: inline-block;
    margin-right: 1rem;
    width: 3rem;
    vertical-align: -.1rem;
}

.loser .number sup {
    font-size: .8rem;
}

.loser .points {
    display: inline-block;
    margin-right: 1rem;
    width: 5rem;
    vertical-align: middle;
}

.loser .pic {
    /* Used when hiding pic */
    display: none;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 100%;
    vertical-align: middle;
}

.loser .name {
    display: inline-block;
    width: 10.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}


/* Tips */

.raceList {
    margin-top: 2rem;
}

.raceList .tip-group {
    margin-bottom: 2rem;
}

.raceList .details {
    margin-bottom: 1rem;
}

.raceList .name {
    display: inline-block;
    max-width: 24rem;
    margin-top: .5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    vertical-align: bottom;
}

.raceList .selections {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 1rem;
}

.raceList .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    color: #fff;
    background-color: #aaa;
    cursor: pointer;
}

.raceList .selection.selected {
    background-color: #813aff;
}

.disabled .bold, .disabled .details {
    color: #ccc;
}

.raceList .disabled .selection, .disabled .status {
    pointer-events: none;
    opacity: .5;
}



/***** Media Queries *****/

@media (min-width: 360px) {
    .race-selector .circle {
        width: 3rem;
        height: 3rem;
        margin-right: .4rem;
    }

    .tip .name {
        width: 11.5rem;
    }

    .raceList .name {
        max-width: 28rem;
    }
}

@media (min-width: 375px) {
    .race-selector .circle {
        margin-right: .6rem;
    }
    
    .tip .name {
        width: 12.2rem;
    }
    
    .raceList .name {
        max-width: 29rem;
    }
}

@media (min-width: 384px) {
    .race-selector .circle {
        margin-right: .7rem;
    }
    
    .tip .name {
        width: 12.7rem;
    }
}

@media (min-width: 400px) {
    .race-selector .circle {
        margin-right: .8rem;
    }
    
    .tip .name {
        width: 13.5rem;
    }
    
    .raceList .name {
        max-width: 32rem;
    }
}

@media (min-width: 410px) {
    .race-selector .circle {
        margin-right: 1rem;
    }
    
    .tip .name {
        width: 14rem;
    }
    
    .raceList .name {
        max-width: 33rem;
    }
}